# Sample Python SQL

In [4]:
import pymysql.cursors

# Connect to the database at 10.1.11.26
connection = pymysql.connect(
    host = "10.1.11.26",
    user = "jtelaak",
    password = "password",
    database = "cape_codd",
    charset = "utf8mb4",
    cursorclass = pymysql.cursors.DictCursor
)

# Query
sql = "SELECT * FROM SKU_DATA ;"

In [6]:
with connection.cursor() as cursor:
    # Run Query
    cursor.execute(sql)
    result = cursor.fetchall()
    
    # List
    for r in result:
        print (r)

{'SKU': 100100, 'SKU_Description': 'Std. Scuba Tank, Yellow', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 100200, 'SKU_Description': 'Std. Scuba Tank, Magenta', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 100300, 'SKU_Description': 'Std. Scuba Tank, Light Blue', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 100400, 'SKU_Description': 'Std. Scuba Tank, Dark Blue', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 100500, 'SKU_Description': 'Std. Scuba Tank, Light Green', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 100600, 'SKU_Description': 'Std. Scuba Tank, Dark Green', 'Department': 'Water Sports', 'Buyer': 'Pete Hansen'}
{'SKU': 101100, 'SKU_Description': 'Dive Mask, Small Clear', 'Department': 'Water Sports', 'Buyer': 'Nancy Meyers'}
{'SKU': 101200, 'SKU_Description': 'Dive Mask, Med Clear', 'Department': 'Water Sports', 'Buyer': 'Nancy Meyers'}
{'SKU': 201000, 'SKU_Description': 'Half-dome Tent', 'Department': 'Camping', 'Buyer': 'Cindy Lo'}
{'SKU': 202000, 'SKU_Description': 'Half-dome Tent Vestibule', 'Department': 'Camping', 'Buyer': 'Cindy Lo'}
{'SKU': 203000, 'SKU_Description': 'Half-dome Tent Vestibule - Wide', 'Department': 'Camping', 'Buyer': 'Cindy Lo'}
{'SKU': 301000, 'SKU_Description': 'Light Fly Climbing Harness', 'Department': 'Climbing', 'Buyer': 'Jerry Martin'}
{'SKU': 302000, 'SKU_Description': 'Locking Carabiner, Oval', 'Department': 'Climbing', 'Buyer': 'Jerry Martin'}

In [7]:
import pandas as pd

df = pd.read_sql_query(sql, connection)
df.tail(1000)

       SKU                  SKU_Description    Department         Buyer
0   100100          Std. Scuba Tank, Yellow  Water Sports   Pete Hansen
1   100200         Std. Scuba Tank, Magenta  Water Sports   Pete Hansen
2   100300      Std. Scuba Tank, Light Blue  Water Sports   Pete Hansen
3   100400       Std. Scuba Tank, Dark Blue  Water Sports   Pete Hansen
4   100500     Std. Scuba Tank, Light Green  Water Sports   Pete Hansen
5   100600      Std. Scuba Tank, Dark Green  Water Sports   Pete Hansen
6   101100           Dive Mask, Small Clear  Water Sports  Nancy Meyers
7   101200             Dive Mask, Med Clear  Water Sports  Nancy Meyers
8   201000                   Half-dome Tent       Camping      Cindy Lo
9   202000         Half-dome Tent Vestibule       Camping      Cindy Lo
10  203000  Half-dome Tent Vestibule - Wide       Camping      Cindy Lo
11  301000       Light Fly Climbing Harness      Climbing  Jerry Martin
12  302000          Locking Carabiner, Oval      Climbing  Jerry Martin